@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Acesso Negado!";
}

<h1 class="text-danger">Opa!</h1>
<h2 class="text-danger">Acho que você não pode fazer isto :(</h2>

<img src="~/Content/img/403-forbidden.jpg" alt="Acesso Negado!"/>

